<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<% if @test_passage.success? %>
  <p><%= t('.success') %> </p>
  <p><%= t('.result') %> <span class="success"><%= @test_passage.total_result %>%</p>
<% else %>
  <p><%= t('.failed') %></p>
  <p><%= t('.result') %> <span class="fail"><%= @test_passage.total_result %>%</p>
<% end %>

<%= link_to 'All Tests', tests_path %>
