<tr>
  <td><%= test.title %></td>
  <td><%= test.level %></td>
  <td><%= test.questions.count %></td>
  <td><%= test.category.title %></td>
  <td><%= test.author.first_name %></td>
  <td><%= link_to t('.show'), admin_test_path(test) %></td>
  <td><%= link_to t('.edit'), edit_admin_test_path(test) %></td>
  <td><%= link_to t('.delete'), admin_test_path(test), method: :delete, data: { confirm: t('.confirm_delete') }  %></td>
</tr>
