<div class="row mt-3">
  <div class="col col-md-4">

    <h1><%= t('tests.index.header') %></h1>

    <table class="table">
      <thead class="thead-light">
        <tr>
          <th class="sort-by-title pointer">
            <%= t('.title') %>
            <%= octicon 'arrow-up', class: 'text-success hide' %>
            <%= octicon 'arrow-down', class: 'text-success hide' %>
          </th>
          <th><%= t('.level') %></th>
          <th><%= t('.questions_count') %></th>
          <th><%= t('.category') %></th>
          <th><%= t('.author') %></th>
          <th><%= t('.actions') %></th>
        </tr>
      </thead>

      <%= render @tests %>
    </table>
  </div>
</div>
