<h1><%= t('tests.index.header') %></h1>

<table>
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.questions_count') %></th>
    <th><%= t('.category') %></th>
    <th><%= t('.author') %></th>
    <th><%= t('.actions') %></th>
  </tr>

  <%= render @tests %>
</table>
